name: inventory_manager_csv
version: 1.0.0+1
publish_to: none

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  csv: ^6.0.0
  path_provider: ^2.1.4
  intl: ^0.19.0
  uuid: ^4.5.1
  pdf: ^3.11.1
  printing: ^5.13.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/csv/items.csv
    - assets/csv/sales.csv
    - assets/csv/ledger.csv
